@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=The+Girl+Next+Door);

html,
body{
	height: 100%; 
	width: 100%;
	margin: 0 auto; 
 	background-image: url('../img/brushed.png');
}


.wrapper{
	position:relative; 
	width:50%;
	min-height: 90%;
	border-radius: 5px;  
 	border: 10px solid #ffcc00;
	background-color: #ffff66; 
	box-shadow: 20px 20px 5px #B8B84A; 
 	margin: auto;
}

#title{
	border-bottom: dotted 5px #ffcc00; 
	position:relative; 
	top:0.2em; 
	font-family: 'The Girl Next Door', cursive; 
	font-size: 2em;
	color:#000000; 
 	text-align: center;
}

.items{
	margin-top: 5%; 
}

.list-items{
	background-color: transparent; 
	border:none; 
	border-bottom: 2px solid black; 
	position:relative;
 	left: 5%; 	
	display: inline-block; 
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	width: 75%; 
	height: 90%;
	margin-bottom: 5%;  
}

.list-items:focus{
	outline:0;
}

.box-section{
	position:relative; 
	display: inline-block;
 	top:0px; 
	background-color: red; 	
	float:right; 
	width: 15%; 
	height: 90%;
}

.box-section li{
	margin-bottom:5px; 
	position: relative;
	width: 50px; 
	height: 50px; 
	background-color: white; 
	border-radius: 5px; 
	border: 1px solid black;
	list-style-type: none;
 	background-size: 100% 100%; 	
}

label{
	position: relative; 
	right:5%;  
	display: inline-block; 
	width:50px; 
	height:50px;
	background: white; 
	border:1px solid black; 

}
input[type="checkbox"]{
	display:none; 
}

input[type="checkbox"] + label{
	width: 50px; 
	height: 50px; 
	float:right;
	background-image: url('../img/off.png');
	background-repeat: no-repeat;
 	background-size: 100% 100%; 	
}

input[type="checkbox"]:checked + label{
	width: 50px; 
	height: 50px; 
	float:right;
	background-image: url('../img/checkmark.png');
	background-repeat: no-repeat;
 	background-size: 100% 100%; 	
}

.x-button{
	cursor:pointer; 
	width:20px;
	height:20px; 
	position:relative; 
	left: 3%;
	opacity:0.1;  
	background-image: url('../img/removebutton.png'); 
	background-repeat: no-repeat; 
	background-size: 100% 100%;
	transition: all 1s ease-in-out; 
	-mox-transition: all 1s ease-in-out; 
	-webkit-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out;  
}

.x-button:hover {
	opacity: 1; 
}

#add-button{
	position: absolute; 
	right: 10%;   
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	background-color: black; 
	opacity:0.6; 
	text-align: center;
	border-radius: 100%;
	color: white;
	vertical-align: middle;  
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	cursor: pointer;  
}

#add-button p{
	position: relative; 
	top:-5px; 
	margin: auto;  
	display: inline-block; 
}

#add-button:hover{
	opacity:0.8; 
}
